.notifications.dropdown {
  right: 0;
}

.notifications.dropdown:before {
  right: 23px;
}

.notifications.dropdown .notify_item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdaff;
}

.notifications.dropdown .notify_item:last-child {
  border-bottom: 0px;
}

.notifications.dropdown .notify_item .notify_img {
  margin-right: 15px;
}
.notifications.dropdown .notify_item .notify_img img {
  width: 70px;
}

.notifications.dropdown .notify_item .notify_info p {
  margin-bottom: 5px;
}

.notifications.dropdown .notify_item .notify_info p span {
  margin-left: 5px;
}

.notifications.dropdown .notify_item .notify_info .notify_time {
  color: #838383;
  font-size: 12px;
}
