.dropdown {
  color: var(--secondary-mode-color);
  width: 350px;
  height: auto;
  background: var(--primary-mode-color);
  border: 1px solid var(--primary-transparent-mode-color);
  box-shadow: 0 0 5px #bfbfbf;
  border-radius: 5px;
  /* box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125); */
  margin: 15px auto 0;
  padding: 15px;
  position: absolute;
  right: 0;
  z-index: 999;
  top: 135%;
}

.dropdown:before {
  content: "";
  position: absolute;
  top: -30px;
  right: 23px;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: transparent transparent #282828 transparent;
}

.dropdown .notify_item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdaff;
}

.dropdown .notify_item:last-child {
  border-bottom: 0px;
}

.dropdown .notify_item .notify_img {
  margin-right: 15px;
}
.dropdown .notify_item .notify_img img {
  width: 70px;
}

.dropdown .notify_item .notify_info p {
  margin-bottom: 5px;
}

.dropdown .notify_item .notify_info p span {
  margin-left: 5px;
}

.dropdown .notify_item .notify_info .notify_time {
  color: #838383;
  font-size: 12px;
}
